#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 60vh;
}
main{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
h1{
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}
h2{
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.1;
  margin: 0;
}
form{
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
header > *{
  text-align: center;
}
section, aside{
  display: flex;
  flex-direction: column;
}

section > h2{
  padding: 20px 0;
}
li{
  padding: 0 10px 5px 0;
}
.remove-item{
  padding: 5px 10px;
  color: rgba(185, 2, 2, 0.897);
}